.main-container {
    width: calc(100% - 220px); 
    height: max-content; 
    margin: 40px 120px ;
    border-radius: 7px;
    // margin-top: 0px;
    background-color: rgb(255, 255, 255);

    main {
        display: grid;
        align-items: center;
        justify-content: center;
        align-self: center;
        // grid-template-columns: repeat(3, 2fr); // 4 элемента в строке
        gap: 20px; // Расстояние между элементами
        padding: 47.5px; 
    } 
    @media screen and (max-width: 2000px) {
        main {
            width: 100%;
            // gap: 90px;
            grid-template-columns: repeat(4, 3fr); /* 4 elements in a row for larger screens */
        }
    }
    @media screen and (max-width: 1522px) {
        main {
            width: 100%;
            // gap: 90px;
            grid-template-columns: repeat(3, 3fr); /* 4 elements in a row for larger screens */
        }
    }
    @media screen and (max-width: 1331px) {
        main {
            width: 100%;
            // gap: 90px;
            grid-template-columns: repeat(2, 3fr); /* 4 elements in a row for larger screens */
        }
    }
    @media screen and (max-width: 885px) {
      
        main {
            width: 100%;
            // gap: 90px;
            grid-template-columns: repeat(2, 3fr); /* 4 elements in a row for larger screens */
        }
    }
    @media screen and (max-width: 650px) {
      
        main {
            width: 100%;
            // gap: 90px;
            grid-template-columns: repeat(1, 3fr); /* 4 elements in a row for larger screens */
        }
    }

}
@media screen and (max-width: 885px) {
    .main-container {
        width: 100%;
        margin:0px

    }
}
  
  