* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  line-height: 1.6;
  background-color: rgba(102, 165, 171, 0.652);
}

img {
    width: 260px;
    height: 260px;
}

button {
  width: 110px;
  height: 40px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  background-color: rgb(252, 223, 207);
  color: rgb(255, 104, 17);
}
// background-color: rgb(255, 142, 76);