.product-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 350px;
  height: 450px;
  padding: 20px;

  .context-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    img {
        align-self: center; 
      }
      p {
        font-size: 20px;
      }
      .description {
        font-size: 15px;
        color: gray;
      }
    }
    .footer-cards {
        display: flex;
        justify-content: space-between; // Элементы по бокам
        align-items: center; // Выравнивание по центру по вертикали
        margin-top: auto; // Опускаем блок вниз
        
        p {
            font-size: 20px;
            
        }
        button:hover {
          
          background-color:rgb(245, 203, 178) ;
        }
  }
}
